/**/
body{
    background-color: rgb(255, 255, 255);
}
#title {
    color: white;
    text-align: center;
    font-weight: 900;
    background-color: rgb(88, 31, 141);
    margin-left: -8px;
    margin-right: -8px;
    width: 101%;
    
}
#imgtop{
    margin-top: -35px;
    width: 22%;
    margin-left: -0.9%;


}
#linkface {
    color: rgb(0, 0, 0);
    margin-top: -60px;
    padding-left: 626px;
    font-weight: 900;
}

#linkinst {
    color: rgb(0, 0, 0);
    margin-top: -34px;
    padding-left: 580px;
    font-weight: 900;

}

#linktwitter {
    color: rgb(0, 0, 0);
    margin-top: -34px;
    padding-left: 546px;
    font-weight: 900;

}

#text {
    color: black;
    font-style: oblique;
    margin-left: 0px;
    margin-right: 700px;
    margin-top: -350px;
 



}

#text2 {
    color: black;
    font-style: oblique;
    margin-left: 0px;
    margin-right: 700px;
    


}

#Ventanas {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-style: initial;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
    margin-left: -4px;
}

li {
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-style: italic;
padding-left: 700px;
    list-style-type: square;
}

#img {
    margin-top: -210px;
    margin-right: -5px; 
    text-align: right;
}

#piepagina {
    margin-top: 200px;
    color: rgb(255, 255, 255);
    background-color: rgb(88, 31, 141);
    font-size: 150%;
    font-style: oblique;
   font-weight: 900;
}
#nav{
    margin-top: 20px;
    margin-left: -10px;
}

