/**/
body{
    background-color: rgb(255, 255, 255);
}
#title {
    color: white;
    text-align: center;
    font-weight: 900;
    background-color: rgb(88, 31, 141);
    margin-left: -8px;
    margin-right: -8px;
}

#linkface {
    color: rgb(255, 255, 255);
    margin-top: -60px;
    padding-left: 636px;
    font-weight: 900;
}

#linkinst {
    color: rgb(255, 255, 255);
    margin-top: -34px;
    padding-left: 600px;
    font-weight: 900;

}

#linktwitter {
    color: rgb(255, 255, 255);
    margin-top: -34px;
    padding-left: 573px;
    font-weight: 900;

}

#text {
    color: black;
    font-style: oblique;
    margin-left: 0px;
    margin-right: 700px;
    margin-top: -380px;
 



}

#text2 {
    color: black;
    font-style: oblique;
    margin-left: 0px;
    margin-right: 700px;
    


}

#Ventanas {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-style: initial;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
    margin-left: -4px;
}

li {
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-style: italic;
padding-left: 700px;
    list-style-type: square;
}

#img {
    margin-top: -190px;
    margin-right: -8px; 
    text-align: right;
}

#piepagina {
    padding-top: 500px;
}
#nav{
    padding-top: 4px;
    margin-left: -10px;
}
