/**/

#titulo{
    background-color: rgb(88, 31, 141);
    text-align: center;
    font-size: 400%;
    margin-top: -1%;
    width: 101.3%;
    margin-left: -0.7%;
}
#linkface{
color: rgb(0, 0, 0);
padding-left: 80%;
margin-top: -9.5%;
}
#linkinst{
    color: rgb(0, 0, 0);
    padding-left: 70%;
    margin-top: -5%;
    }

#linktwitter{
    color: rgb(0, 0, 0);
    padding-left: 63%;
    margin-top: -5%;
}
main{
    margin-top: -1%;
   background-image: url(https://giffiles.alphacoders.com/167/167487.gif);
   background-position: center 25%;
   background-size: cover;
    width: 101.3%;
    height: 162vh;
    margin-left: -0.7%;

}
#nombre{
    font-size: 140%;
    font-style: oblique;
    padding-right: 19%;
}
#email{
    font-size: 140%;
    font-style: oblique;
    padding-right: 14%;
}
#contraseña{
    font-size: 140%;
    font-style: oblique;
    padding-right: 26%;
}
#terminos{
    font-size: 140%;
    font-style: oblique;
    text-align: center;
    
}
#registrar{
    text-align: center;
    

}

#piepagina {
    margin-top: 0%;
    color: rgb(255, 255, 255);
    background-color: rgb(88, 31, 141);
    font-size: 150%;
    font-style: oblique;
    font-weight: 900;
    width: 101.3%;
    margin-left: -0.7%;
}

#jumbo{
    background-color: rgb(88, 31, 141);
    text-align: center;
    margin-right: 30%;
    margin-left: 40%;
    width: 30%;
    margin-top: -20%;
}
