/**/

#titulo{
    background-color: blueviolet;
    text-align: center;
    font-size: 400%;
    margin-top: -1%;
}
#linkface{
color: rgb(255, 255, 255);
padding-left: 81%;
margin-top: -6.5%;
}
#linkinst{
    color: rgb(255, 255, 255);
    padding-left: 70%;
    margin-top: -1.7%;
    }

#linktwitter{
    color: rgb(255, 255, 255);
    padding-left: 63%;
    margin-top: -1.8%;
}
main{
    margin-top: -1%;
    background-image: url("https://images8.alphacoders.com/530/530873.jpg");
    width: 100%;
    height: 91vh;

}
#nombre{
    text-align: center;
    font-size: 150%;
    font-style: oblique;
    padding-right: 10%;
}
#email{
    text-align: center;
    font-size: 150%;
    font-style: oblique;
    padding-right: 17.5%;
}
#contraseña{
    text-align: center;
    font-size: 150%;
    font-style: oblique;
    padding-right: 15.3%;
}
#terminos{
    text-align: center;
    font-size: 150%;
    font-style: oblique;
    padding-right: 5.1%;
}
#registrar{
    text-align: center;
    

}

#piepagina {
    margin-top: 0%;
    color: rgb(255, 255, 255);
    background-color: rgb(88, 31, 141);
    font-size: 150%;
    font-style: oblique;
    font-weight: 900;
}